/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #FFFFFF;
    background-color: #F5E8D2;
}

/* Estilos para la barra de navegación */
header nav {
    background-color: #028490;
    padding: 10px;
}

header nav ul {
    list-style-type: none;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 35px;
}

header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}
header nav ul li img{
    width: 30px
}

/* Contenido principal */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    flex: 1;
}

main h1 {
    font-size: 28px;
    color: #16262D;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

/* Estilos del formulario de cita */
section.datos {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    color: #028490;
    width: 100%;
    max-width: 500px; /* Ajusta el ancho máximo del formulario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

section.datos form label {
    display: block;
    font-size: 16px;
    color: #0D3A45;
    margin-top: 10px;
    margin-right: 20px;
}

section.datos form input[type="text"],
section.datos form input[type="date"] {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    background-color: #F5F5F5;
    color: #16262D;
}

section.datos h3 {
    margin-top: 20px;
    font-size: 18px;
    color: #0D3A45;
}

section.datos form input[type="radio"] {
    margin-right: 5px;
    
}

section.datos form button[type="submit"] {
    background-color: #028490;
    color: #FFFFFF;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    width: 100%;
}

/* Estilos para el pie de página */
footer {
    background-color: #0D3A45;
    color: white;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer .contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

footer .contactanos {
    display: flex;
    gap: 30px;
}

footer .contactanos i {
    font-size: 20px; /* Ajusta el tamaño del ícono */
    color: rgb(255, 255, 255); /* Cambia el color del ícono */
}

footer .contactanos p {
    margin-left: 10px; /* Espaciado entre ícono y texto */
}

footer .boton-contacto button {
    background-color: #ffffff;
    color: rgb(76, 108, 136);
    height: auto;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 60px;
}

footer .boton-contacto button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
