/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5E8D2;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos de navegación */
header nav {
    background-color: #028490;
    padding: 15px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
}
header nav ul li img{
    width: 30px
}

/* Sección de Inicio de Sesión */
.inicio-titulo {
    text-align: center;
    margin-top: 30px;
}

.inicio-titulo h1 {
    font-size: 28px;
    color: #0D3A45;
}

.inicio-titulo h2 {
    font-size: 18px;
    color: #028490;
    margin: 10px 0;
}

.inicio-titulo button {
    background-color: #028490;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

.inicio-titulo button a {
    color: white;
    text-decoration: none;
}

/* Sección del formulario */
.inicio-datos {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.inicio-datos label {
    font-size: 16px;
    color: #333;
    display: block;
    margin: 10px 0 5px;
}

.inicio-datos input[type="number"],
.inicio-datos input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}

.inicio-datos button[type="submit"] {
    background-color: #028490;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

/* Estilos para el pie de página */
footer {
    background-color: #0D3A45;
    color: white;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer .contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

footer .contactanos {
    display: flex;
    gap: 30px;
}

footer .contactanos i {
    font-size: 20px; /* Ajusta el tamaño del ícono */
    color: rgb(255, 255, 255); /* Cambia el color del ícono */
}

footer .contactanos p {
    margin-left: 10px; /* Espaciado entre ícono y texto */
}

footer .boton-contacto button {
    background-color: #ffffff;
    color: rgb(76, 108, 136);
    height: auto;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 60px;
}

footer .boton-contacto button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
